* {
  box-sizing: border-box;
}

.nav-ul {
  position: static;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  border-bottom: 0.5px solid lightgray;
}

.nav-li {
  color: black;
  text-align: center;
  padding: 1.5% 1%;
  text-decoration: none;
  float: right;
  font-size: 13px;
}

.nav-li:hover:not(.active) {
  color: gray;
}

.logo {
  width: 12%;
  display: inline;
  margin: 1% 12%;
  position: absolute;
}

.login {
  margin-right: 20%;
  margin-top: 1%;
  background-color: lightblue;
  opacity: 0.5;
  border-radius: 3px;
  padding: 0.5% 2%;
  font-weight: bold;
  color: darkblue;
}

@media only screen and (max-width: 600px) {
  .nav-li {
    display: none;
  }
  .mobile-header {
    background-color: white;
    padding: 4%;
  }
  .logo {
    width: 50%;
    position: static;
    margin-left: 25%;
  }
}
